<br>
<footer>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <ol class="breadcrumb">
      <li><%= link_to 'Home', root_path, :class => "clear-bg-link" %></li>
      <li><%= link_to 'About Us', root_path(:anchor=>"aboutus"), :class => "clear-bg-link" %></li>
      <li><%= link_to 'Carreers', root_path(:anchor=>"carreers"), :class => "clear-bg-link" %></li>
      <li><%= link_to 'Contact Us', root_path(:anchor=>"contactus"), :class => "clear-bg-link" %></li>
      <!--
      <li class="active">Carreers</li>
      <li class="active">Contact Us</li>-->
     </ol>
    </div>
    <div class="col-md-6 text-right ">
      <ul class="list-unstyled">
        <li><p class="text-muted small copyright">Copyright © TechResource 2015. All Rights Reserved</p></li>
      </li><p class="text-muted small copyright">beta version 1.0 made with <span class="glyphicon glyphicon-heart"></span> by TR</p></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <hr class="blue">
  </div>
  <div class="row ">
    <div class="col-md-6">
      <ul class="list-unstyled">
        <li><span class="glyphicon glyphicon-map-marker encircle"></span> Makati City</li>
        </li><span class="glyphicon glyphicon-map-marker encircle"></span> Clark, Pampanga</li>
      </ul>

    </div>
    <div class="col-md-6">
      <div class="pull-right">
          <ul class="list-inline list-unstyled">
              <li>
                <a href="https://www.facebook.com/TechResourceInc" class="clear-bg-link">
                  <i class="fa fa-facebook fa-fw fa-2x encircle"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/ash20sc/techresourceph.com" class="clear-bg-link">
                  <i class="fa fa-github fa-fw fa-2x encircle"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/pub/techresource-inc-careers/ba/402/833" class="clear-bg-link">
                  <i class="fa fa-linkedin fa-fw fa-2x encircle"></i>
                </a>
              </li>
          </ul>
      </div>
    </div>
  </div>
</div>
</footer>
