<section id="home" data-speed="4" data-type="background">
  <div class="container" id="home_layer">
    <div class="home-message">
      <h1>TechResource Inc.</h1>
      <h4> <span class="glyphicon glyphicon-map-marker"></span> Makati City / Clark, Pampanga</h4>
      <hr class="white">
      <ul class="list-inline intro-social-buttons">
          <li>
              <a href="https://www.facebook.com/TechResourceInc" class="btn btn-default btn-lg"> <i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
          </li>
          <li>
              <a href="https://github.com/ash20sc/techresourceph.com" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
          </li>
          <li>
              <a href="https://www.linkedin.com/pub/techresource-inc-careers/ba/402/833" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
          </li>
      </ul>
    </div>
    </div>
</section>
